.app {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
}

.todo-container {
  background: white;
  padding: 30px;
  width: 400px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.input-section {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.input-section input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.input-section button {
  padding: 10px 15px;
  border: none;
  background-color: black;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.input-section button:hover {
  opacity: 0.8;
}

.todo-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.todo-list li {
  background-color: #f9f9f9;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 5px;
}

.todo-item li{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.checkbox:hover {
  cursor: pointer;
}

.action-btns {
  display: flex;
  align-items: center;
  gap: 5px;
}